<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="study_com.study_exmp.studytogetherproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StudyTogether"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.White.KvantoriumProject"
        tools:replace="android:label">
        <activity
            android:name="study_com.study_exmp.studytogetherproject.ui.create_task.CreateTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="study_com.study_exmp.studytogetherproject.MainClasses.LoginOrSignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="study_com.study_exmp.studytogetherproject.Onboarding.IntroActivityOnboarding"
            android:screenOrientation="portrait" />
        <activity
            android:name="study_com.study_exmp.studytogetherproject.MainClasses.ChooseGenderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="study_com.study_exmp.studytogetherproject.MainClasses.SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="study_com.study_exmp.studytogetherproject.CommentsAndDetails.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="study_com.study_exmp.studytogetherproject.Chat.ChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="study_com.study_exmp.studytogetherproject.Chat.ImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="study_com.study_exmp.studytogetherproject.Chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="study_com.study_exmp.studytogetherproject.CommentsAndDetails.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="study_com.study_exmp.studytogetherproject.ui.home.ChangesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="study_com.study_exmp.studytogetherproject.MainClasses.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="study_com.study_exmp.studytogetherproject.MainClasses.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name="study_com.study_exmp.studytogetherproject.notificationPack.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="study_com.study_exmp.studytogetherproject.notificationPack.MyFirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1029213395711583~5672320199" />
    </application>

</manifest>