<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kvantoriumproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Study.together"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KvantoriumProject">
        <activity android:name=".MainClasses.IntroActivity"></activity>
        <activity android:name=".MainClasses.ChooseGenderActivity" />
        <activity
            android:name=".MainClasses.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommentsAndDetails.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dashboard.MyTasksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat.ChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat.ImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommentsAndDetails.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.ChangesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainClasses.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainClasses.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainClasses.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainClasses.LoginActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".notificationPack.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notificationPack.MyFirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1029213395711583~5672320199"/>

    </application>

</manifest>